name: checks
permissions:
  contents: read
on:
  pull_request:
  push:
    branches: [master]
concurrency:
  group: checks-${{ github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9.0.0
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - run: pnpm -w install --frozen-lockfile
      - run: pnpm -w lint
      - run: pnpm -w typecheck
      - run: pnpm -w test -- --reporter=dot --coverage
      - uses: codecov/codecov-action@v5
        if: success()
