name: semgrep
on:
  pull_request:
  schedule: [{ cron: '0 6 * * *' }]
jobs:
  semgrep:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: returntocorp/semgrep-action@v1
        with:
          config: >-
            p/owasp-top-ten
            p/nodejs
      - uses: github/codeql-action/upload-sarif@v4
        if: hashFiles('semgrep.sarif') != ''
        with:
          sarif_file: semgrep.sarif
